.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.option {
    border: 1px solid black;
    border-radius: 25px;
}

input:read-only {
    background-color: lightgray;
}